<header>
	<div class="row">
		<div class="small-12 large-3 columns">
			<h1>Echale Gas</h1>
		</div>
		<div class="small-9 large-5 columns">
			<form action="#">
				<div class="row collapse">
					<div class="small-9 columns">
						<input type="search">
					</div>
					<div class="small-3 columns">
						<input type="submit" value="Buscar" class="button postfix">
					</div>
				</div>
			</form>
		</div>
		<div class="small-3 large-4 columns">
			<a href="#" class="small button">Entrar</a>
		</div>
	</div>
</header>